.archive
  padding-bottom: 30px
  
  [class*=column]+[class*=column]:last-child
    float: left !important
    
  .columns.archive-pod
    
    +media('mobile')
      padding: 0
    
    .image-container
      display: block
      border: 2px solid transparent
      margin: 10px
      
      +media('mobile')
        margin: 4px
          
      &:hover
        border: 2px solid site-orange
        
        +media('mobile')
          border: 2px solid transparent
