.gallery-image-container
  display: none
  
  h1
    font-family: 'Open Sans',sans-serif
    font-weight: 300
    font-size: 30px
    margin: 20px 0
    color: #505050
    display: block
    text-align: center
  
.bolivia-page
  
  .Bolivia
    display: block

.tension-page
  
  .Tension
    display: block
    
    [class*=column]+[class*=column]:last-child
      float: none
    
    .tension-pod
      margin-bottom: 30px
      
      +media('mobile')
        margin-bottom: 0
      
      &:hover
        border: 2px solid transparent
      
    .gallery-image
      max-width: 600px
      width: 100%
      margin: 0 auto
      height: 293px
      background-size: 90%
      background-position: center center
      border: 2px solid transparent
      
      &:hover
        border: 2px solid site-orange
        
        +media('mobile')
          border: 2px solid transparent
          
      +media('mobile')
        height: 0
        padding-bottom: 50%
        

.india-page
  
  .India
    display: block
  
.colours-page
  
  .Colours
    display: block

.southeast-page
  
  .Southeast
    display: block

.labour-page
  
  .Labour
    display: block

.days-page
  
  .Days
    display: block

.portfolio-page
  
  .Portfolio
    display: block
    

.gallery
  padding-bottom: 30px
  
  [class*=column]+[class*=column]:last-child
    float: left
    
  .columns
    border: 2px solid transparent
      
    &:hover
      border: 2px solid site-orange
      
      +media('mobile')
        border: 2px solid transparent
  
  .popup
    background-repeat: no-repeat
    background-position: center nav-height+15px
    background-size: contain
    display: none
    position: fixed
    width: 84%
    left: 50%
    margin-left: -42%
    height: 95%
    top: 0
    z-index: 2
    
    +media('mobile')
      width: 100%
      left: 0
      margin-left: 0
  
  .popup-bg
    display: none
    background: #000
    position: fixed
    top: 0
    left: 0  
    width: 100%
    height: 100%
    opacity: 0.9
    z-index: 1
    
  .arrow.arrow-left
    background-position: 0 -64px
    display: none
    z-index: 3
    opacity: 1
  
  .arrow.arrow-right
    background-position: -64px -64px
    display: none
    z-index: 3
    opacity: 1
    
.gallery.show-popup
  
  .arrow.arrow-left
    display: block
  
  .arrow.arrow-right
    display: block
    
  .popup
    display: block  
  
  .popup-bg
    display: block
    
.gallery-image
  background-repeat: no-repeat
  background-size: cover
  background-position: center top
  display: block
  height: 200px
  margin: 10px 5px 
  