.about
  max-width: 640px
  width: 100%
  padding: 0 15px  
  
  p
    line-height: 1.6em
    font-family: 'Lato', 'helvetica', sans-serif
    font-weight: 300
    
    a
      color: site-orange
      
      &:hover
        text-decoration: underline