script(type="text/template" id="photos").
  <div class="image standard-width" style="background-image: url('http://jaredkrau.se/img/gal/<%= photoURL %>');">
    <a class="arrow arrow-left" href="/#photos/<%= id - 1 %>"></a>
    <a class="arrow arrow-right" href="/#photos/<%= id + 1 %>"></a>
  </div>