script(type="text/template" id="projects").
  <div class="projects standard-width">
    <div class="row project-row">
      <div class="columns small-12 medium-6 large-4 project-box">
        <a href="/#/gallery/tension" class="project-link" style="background-image:url('./images/tension-thumb.jpg');">
          <p>Harmony/Tension</p>
        </a>
      </div>
      <div class="columns small-12 medium-6 large-4 project-box">
        <a href="/#/gallery/southeast" class="project-link" style="background-image:url('./images/projects/Southeast/thumbnails/1.jpg');">
          <p>Southeast Asia</p>
        </a>
      </div>
      <div class="columns small-12 medium-6 large-4 project-box">
        <a href="/#/gallery/bolivia" class="project-link" style="background-image:url('./images/projects/Bolivia/thumbnails/4.jpg');">
          <p>Bolivia</p>
        </a>
      </div>
      <div class="columns small-12 medium-6 large-4 project-box">
        <a href="/#/gallery/india" class="project-link" style="background-image:url('./images/projects/India/thumbnails/1.jpg');">
          <p>India</p>
        </a>
      </div>
      <div class="columns small-12 medium-6 large-4 project-box">
        <a href="/#/gallery/labour" class="project-link" style="background-image:url('./images/projects/Labour/thumbnails/3.jpg');">
          <p>Labour</p>
        </a>
      </div>
      <div class="columns small-12 medium-6 large-4 project-box">
        <a href="/#/gallery/days" class="project-link" style="background-image:url('./images/projects/Days/thumbnails/2.jpg');">
          <p>Days</p>
        </a>
      </div>
    </div>
  </div>