doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title JaredKrau.se - A Photo Blog
    meta(name='description', content='JaredKrau.se A Toronto based photoblog by Jared Krause')
    meta(name="keyword", content='Jared Krause Photo Blog Photography Toronto Canada Photographer')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:title', content='JaredKrau.se - A photoblog')
    meta(property='og:image', content='http://jaredkrau.se/images/fb-image.png')
    meta(property='og:site_name', content='JaredKrau.se - A Photoblog')
    meta(property='og:description', content='Photos from Toronto and around the world, by street photographer Jared Krause.')
    meta(property='og:url', content='http://jaredkrau.se')
    meta(property='og:type', content='website')
    link(rel="shortcut icon", href="http://jaredkrau.se/favicon.ico?v=3", type="image/x-icon")
    link(rel="icon", href="http://jaredkrau.se/favicon.ico?v=3", type="image/x-icon")
    link(rel='stylesheet', href='styles/main.min.css?v=2')
    link(rel='stylesheet', href='styles/libs.min.css')
    link(href='//fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css')
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')

  body.photos-page
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    ul.mobile-nav
      
      li.mobile.photo-item

        a.logo(href="./#")
          
      li.about-item
        
        a(href="./#/about") About 

      li.archive-item

        a(href="./#/archive") Archive

      li.project-item

        a(href="./#/projects") Projects


    .container.mobile-closed
      
      a.cover(href="javascript:void(0)")

      ul.nav
        
        li.mobile.photo-item

          a.logo(href="./")
            
        li.about-item
          
          a(href="./#/about") About 

        li.archive-item

          a(href="./#/archive") Archive

        li.project-item

          a(href="./#/projects") Projects

        li.burger

          a(href="javascript:void(0)") 

            span

        li.instagram.mobile

          a(href="http://instagram.com/kravse", target="_blank") @<span class="show-for-medium-up">kravse</span>


      .content
    
    include ./pages/about.jade
    include ./pages/gallery.jade
    include ./pages/archive.jade
    include ./pages/photos.jade
    include ./pages/projects.jade

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script window.jQuery || document.write('<script src="scripts/vendor/jquery-1.10.2.min.js"><\/script>')
    script(src='scripts/libs.min.js')
    script(src='scripts/main.min.js?v=2')
    script(type="text/javascript").
      $.ajax({
           url : './php/start.php',
           type : 'POST',
           dataType : 'json',
           success : function (result) {
              App.init(result);
           },
           error : function () {
              console.log("AJAX Error");
           }
       });    

    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54414720-1', 'auto');
      ga('send', 'pageview');

